/*
* @Author: Administrator
* @Date:   2019-06-14 11:18:34
* @Last Modified by:   Administrator
* @Last Modified time: 2019-06-18 10:00:41
*/
*{
	padding: 0;
	margin: 0;
}
ul,li,ol{
    list-style: none;
}
a{
	text-decoration: none;
	color: black;
}
.header-da{
	height: 192px;
}
.head{
	width: 1200px;
	height: 26px;
	margin: 0 auto;
}
.da{
	width: 800px;
	height: 26px;
	float: right;
}
.a1{
	margin-right: 38px;
}
.a2{
	margin-right: 30px;
}
.a3{
	margin-right: 43px;
}
.a4{
	margin-right: 16px;
}
.i0{
	margin-right: 8px;
}
.a5{
	margin-right: 15px;
}
.i1{
	margin-right: 17px;
}
.a6{
	margin-right: 33px;
}
.wb{
	margin-right: 11px;
}
.head-lead{
	width: 1200px;
	height: 103px;
	margin: 0 auto;
}
.logo{
	height: 61px;
	float: left;
	margin-top: 42px;
	width: 235px;
}
/* .mid{
	width: 603px;
	border: 1px solid black;
	
} */
.in0{
	width: 520px;
	height: 44px;
	color: rgb(228, 228, 228);
	margin-top: 52px;
	margin-left: 178px;
	text-align: center;
	float: left;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-top: 1px solid black;
}
.in1{
	width: 60px;
	height: 46px;
	background: url('../dazuoye/search.png') no-repeat 13px;
	margin-top: 52px;
	/* margin-left: 718px; */
	float: left;
	text-align: center;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	border-top: 1px solid black;
}
.i2{
	margin-top: 68px;
	margin-left: 140px;
	float: left;
}
.head-end{
	width: 1200px;
	height: 61px;
	margin: 0 auto;
	border-bottom: 4px solid rgb(58, 167, 71);
}
.u1 li{
	display: inline-block;
	width: 116px;
	height: 58px;
	line-height: 58px;
	text-align: center;
}
.u1 li:hover{
	border-bottom: 3px solid rgb(58, 167, 71);
}
.middle{
	height: 673px;
	background: url('../dazuoye/banner.png') center;
	border-bottom: 1px solid rgb(127, 127, 127);
}
.mid{
	height: 61px;
}
.m1{
	width: 1200px;
	height: 61px;
	margin: 0 auto;
}
.s1{
	color: rgb(0, 0, 0);
	float: left;
}
.s2{
	color: rgb(168, 168, 168);
	font-size: 80%;
}
.s3{
	color: rgb(141, 141, 141);
	float: right;
}
.table{
	width: 1200px;
	height: 138px;
	margin: 0 auto;
}
.uu1{
	border: 1px solid rgb(204, 204, 204);
}
.uu1 li{
	display: inline-block;
	width: 100px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	color: rgb(115, 115, 115);
}
.ll1{
	width: 100px;
	height: 45px;
	background-color: rgb(229, 229, 229);
	color: black;
}
.ll2{
	width: 100px;
	height: 45px;
	margin-left: 240px;
	text-align: center;
}
.uu1 a:visited{
	color: rgb(58, 167, 71);
}
.tu{
	height: 820px;	
	margin-top: 257px;
}
.img{
	width: 1200px;
	height: 820px;
	margin: 0 auto;
}
.uu2 li{
	position: relative;
	display: inline-block;
	width: 274px;
	height: 295px;
	border: 1px solid black;
	margin-right: 20px;
	float: left;
}
.uu3 li{
	position: relative;
	margin-top: 33px;
	display: inline-block;
	width: 274px;
	height: 295px;
	border: 1px solid black;
	margin-right: 20px;
	float: left;
}
.aa1:hover{
	background-color: rgb(71, 71, 68);
	color: white;
}
.wei{
	background-color: rgb(71, 71, 68);
	color: white;
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 273px;
	height: 53px;
}
.gai{
	width: 274px;
	height: 295px;
	display: none;
	background-color: rgb(71, 71, 68);
	color: white;
	text-align: center;
	position: absolute;
	left: 0;
	top: 0;
	line-height: 295px;
}
.gai p{
	width: 274px;
	height: 20px;
}
.uu2 li:hover .gai{
	display: block;
}
.uu3 li:hover .gai{
	display: block;
}
.over{
	height: 103px;
	background-color: rgb(245, 245, 245);
}
.o1 {
	height: 70px;
	width: 1200px;
	margin: 0 auto;
}
.uu4 li{
	display:inline-block;
	width:230px;
	height:70px;
	margin:10px 30px;
	/* text-align: center; */
	line-height: 30px;
}
.size{
	font-size: 140%;
}
.lll{
	border-right: 1px solid rgb(224, 224, 224);	
}
.uu4 li img{
	float:left;
	margin-top: 7px;
}
.over1{
	height: 99px;
	background-color: rgb(50, 50, 50);
	margin-top: 0;
	text-align: center;
}
.o2{
	height: 99px;
	width: 1200px;
	margin: 0 auto;
	color: white;
}
.uu5 li{
	display: inline-block;
	margin-top: 32px;
}
.o2 p{
	margin-top: 22px;
}
.fix{
	position: fixed;
	top: 193px;
	right: 0;
	background-color: rgb(2, 10, 9);
}
.fix ul li{
	width: 80px;
	height: 121px;
	padding: 75px 0px 38px 30px;
	border-bottom: 1px solid rgb(89, 94, 93);
}